body{
    font-family: Rubik;
    color: aliceblue;
}
.container{
    background-image: url(../imgs/skyscraper-building-architecture.jpg);
    background-position: center;
    display: grid;
    grid-template-columns: auto auto;
    padding-left:  20% ;
    padding-right: 20%  ;
    column-gap: 10%;
    padding-top: 5%;
    margin-top: 4%;
    border-radius: 15px;
}
.features{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    
}
.form{
    background-color: white;
    color: black;
    padding-left: 10%;
    padding-top: 5%;
    border-radius: 2%;
    height: 106%;
    box-shadow: 3px 3px 13px #888888;
}
.form-element{
    width: 90%;
    height: 35px;
    margin-bottom: 4%;
    border-radius: 5px;
    padding-left: 10px;
    border: #9ea1a2 solid 1px;
}
.form-button{
    height: 35px;
    width: 90px;
    border-radius: 5px;
    border: none;
    background-color: #EB2027;
    color: white;
    font-weight: 580;
    
}
.form-desc{
    color: #9ea1a2;
    font-size: 15px;
}
.sec-beg{
    color: #EB2027;
    font-size: 10px;   
}
.feature-count{
    background-color: #EB2027;
    border-radius: 50%;
    width:  46px;
    height: 34px;
    text-align: center;
    padding-top: 12px;
}