body{
    font-family: Rubik;
    color: aliceblue;
    background-color: #002856;
    margin-left:  7% ;
    margin-right: 7%  ;
}
.fa-solid{
    color: #FF375F;
    margin-right: 2%;
}
.container{
    margin-top: 15%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 70px;
    border-bottom: #294B71 solid 1px;
    padding-bottom: 18%;
}
li{
    list-style: none;
    margin-bottom: 4%;
}
.quick-list::before{
    content: ">";
    padding-right: 10px;
}
.email{
    background-color: transparent;
    width: 87%;
    padding: 6%;
    border: #294B71 solid 1px;
    border-radius: 3%;
    margin-bottom: 7%;
    
    
}
.submit{
    background-color: #FF375F;
    border-radius: 3%;
    font-family: Rubik;
    color: aliceblue;
    border: none;
    width: 100%;
    padding: 6%;
}
.col-title-main{
    font-size: 200%;
    font-weight: 600;
    margin-bottom: 20px;
}
.title-container{
    display: flex;
    flex-direction: row;
}
.logo{
    margin-right: 3%;
    margin-top: 5%;
    height: 100%;
    margin-bottom: 0%;
}
.col-title{
    font-size: 140%;
    font-weight: 600;
    margin-bottom: 50px;
}
.col2-title::after{
    content: "";
    border-bottom: #FF375F solid 3px;
    position: absolute;
    width: 60px;
    left: 38.5%;
    top: 36%;
}
.col3-title::after{
    content: "";
    border-bottom: #FF375F solid 3px;
    position: absolute;
    width: 60px;
    right: 29%;
    top: 36%;
}
.col4-title::after{
    content: "";
    border-bottom: #FF375F solid 3px;
    position: absolute;
    width: 60px;
    right: 18.6%;
    top: 36%;
}
.footer{
    display: flex;
    flex-direction: row;
    font-weight: 200;
}
.social-media{
    align-self: center;
    margin-left: 58%;
}
.fa-brands{
    margin-left: 7px;
}
.fa-copyright{
    margin-right: 3px;
}
.HiBootsrap{
    margin-left: 3px;
    color: #FF375F;
}
